
<div class="container-fluid">
    <p-menubar [model]="items">
  
      <div class="row" style="background-color: rgb(221, 226, 238);">
        <div class="col-12 col-sm-4 mr-2 mt-4 mb-1 ">
          <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="userName" style="width:8rem ;" >
            <label for="float-input">ชื่อผู้ใช้งาน</label>
          </span>
        </div>
        <div class="col-12 col-sm-4 mr-1 mt-4 mb-1">
          <p-password [(ngModel)]="password" placeholder="รหัสผ่าน" [toggleMask]="true"  ></p-password>
        
         
  
        </div>
        <div class="col-12 col-sm-4 mt-4 mb-1"> 
          <button pButton pRipple type="button" label="เข้าระบบ" class="p-button-rounded"><i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>                    
          
          </div>
                         
      </div>
  
    </p-menubar>
  </div>