<div class="container-fluid">
  <p-menubar [model]="items">

    <div class="row">
      <div class="col-12 col-sm-3 mr-2 mt-4 ">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="userName" style="width: 100%;">
          <label for="float-input">ชื่อผู้ใช้งาน</label>
        </span>
      </div>
      <div class="col-12 col-sm-5 mr-2 mt-4 ">
        <p-password [(ngModel)]="password" placeholder="รหัสผ่าน" [toggleMask]="true"  ></p-password>
      
       

      </div>
      <div class="col-12 col-sm-4 mt-4 "> 
        <button pButton pRipple type="button" label="เข้าระบบ" class="p-button-rounded"><i class="fa fa-sign-in" aria-hidden="true"></i>
          </button>
         
       
        
        </div>
         

          
    </div>

  </p-menubar>







</div>